body {
  margin: auto;
}

.app {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 25vmin);
  grid-template-rows: repeat(5, 20vmin);
}

h1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.miju {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: red;
  text-align: center;
  overflow: scroll;
  cursor: pointer;
}
.miju img {
  display:block;
  margin: auto;
}

.karl {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: green;
}

.becs {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color: blue;
}

.richard {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color: brown;
}
